
# Directories

## Editor specific directories
.idea/
.vscode/

## Language server directories
.cache/
.ccls-cache/

compile_commands.json

## Other
bin/

# Files

## Executable files
*.out

## Object files
*.o
*.obj

## Other
.DS_Store