
# Directories

## Editor specific directories
.idea/
.vscode/

## Language server directories
.cache/
.ccls-cache/

## Other
bin/


# Files

## Executable files
*.out

## Object files
*.o
*.obj

## Other
.DS_Store